$color1: #744BFC; // Logo, Nav-Link-Hover, Yeni Hesap Ekle Butonu Arka Planı, Arama Ikonu Arka Planı
$color2: #FFFFFF; // Navbar Arka Plan, Sutün Isimleri Arka Planı, Ikonların Rengi, Butonun Yazısının Rengi
$color3: #000000; // Diğer Yazıların Rengi
$color4: #EFF2FF; // DataTable Arka Planı Rengi (Gradient Olacak)
$color5: #FFFFFFB5; // Tek Sayıdaki Satırlar Arka Planı,
$color6: #C4CEE5; // Tablo Ara Çizgileri Rengi
$color7: #5d3cca; // btn-hover-border-color
$color8: #6340d6; // btn-hover-bg-color
$color9: #CFC0FF; // page-row border-color

// linear-gradient(180deg, #EFF2FF -30.56%, rgba(232, 236, 255, 0) 135.85%);

/* BOOTSTRAP */
$primary: $color1;
$secondary: $color4;
$font-family-sans-serif: "Poppins";
$navbar-light-color: $color3;
$navbar-light-hover-color: $color1;
$navbar-light-active-color: $color1;
$nav-link-font-size: 14px;
$nav-link-font-weight: 400;
$modal-content-border-radius: 22px;
$modal-content-border-color: none;
$modal-header-border-width: 0
